<div class="row">
  <%= form_for @content, class: 'col s12'  do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.text_area :content, class: 'materialize-textarea', size: "30x10" %>
        <%= f.label :content, 'Inhalt' %>
      </div>

      <div class="input-field col s12">
        <%= f.hidden_field :page %>
        <%= f.label :page %>
      </div>

      <div class="col s12">
        <%= f.button 'Abschicken', class: "btn waves-effect waves-light" %>
      </div>
    </div>
  <% end %>
</div>
