= form_for @team_member do |f|
  .row
    -# team member attributes
    .input-field.col.s12
      = f.label :name
      = f.text_field :name

    = f.fields_for :contents do |content_field|
      .input-field.col.s12
        = content_field.label :content
        = content_field.text_area :content, id: 'form-text-area', class: 'materialize-textarea'

      = content_field.hidden_field :page, value: 'team'

    .col.s12
      = f.button 'Erstellen', class: "btn waves-effect waves-light"
