.container.main-content
  %h1 Team
  = link_to new_team_member_path
  - @team_members.each do |team_member|
    .row
      .col.s12.m7
        .card
          .card-image
            - if team_member.images
              - team_member.images.each do |image|
                = image_tag(image&.picture.url, alt: 'kila picture', class: 'responsive-img')
            - else
              = image_tag('logo-kila.png')
            .card-title
              = team_member.name
          .card-content
            - team_member.contents.each do |entry|
              = entry.content
