%footer.page-footer
  .container.footer-address
    %address.grey-text.text-lighten-4
      Kinderladen Hildegarten,
      %br
      Hildegardstr. 16a,
      %br
      10715 Berlin
    %ul
      %li
        = link_to 'Tel.: 030 / 853 91 60', 'tel:+490308539160', class: 'grey-text text-lighten-4'
      %li
        = link_to 'info@kila-hildegarten.de', 'mailto:info@kila-hildegarten.de', class: 'grey-text text-lighten-4'

  .footer-copyright
    .container
      = link_to "© #{Date.today.year} theresamannschatz.design", 'https://theresamannschatz.design', class: 'grey-text text-lighten-4 left'
      = link_to 'Impressum', imprint_path, class: 'grey-text text-lighten-4 right'
