%section
  = image_tag('background/garden-scene/background-sky.png', id: 'background-sky')
  = image_tag('background/garden-scene/cloud1.png', id: 'cloud1')
  = image_tag('background/garden-scene/cloud2.png', id: 'cloud2')
  %h1#welcome-text Willkommen im
  = image_tag('background/garden-scene/tree-right.png', id: 'tree-right')
  = image_tag('background/garden-scene/tree-left.png', id: 'tree-left')
  = image_tag('background/garden-scene/butterfly-red-right.png', id: 'butterfly-red-right')
  %h1#kila-text KiLa Hildegarten
  = image_tag('background/garden-scene/gras.png', id: 'gras')
  = image_tag('background/garden-scene/cat-walk-to-left.png', id: 'cat-walk-to-left')
  = image_tag('background/garden-scene/tree-stump.png', id: 'tree-stump')
  = image_tag('background/garden-scene/flowers-in-frond-tree-stump.png', id: 'flowers-in-frond-tree-stump')
  = image_tag('background/garden-scene/bushes-layer4.png', id: 'bushes-layer4')
  = image_tag('background/garden-scene/leafes-layer3.png', id: 'leafes-layer3')
  = image_tag('background/garden-scene/bushes-layer-3.png', id: 'bushes-layer-3')
  = image_tag('background/garden-scene/butterfly-green.png', id: 'butterfly-green-left')
  = image_tag('background/garden-scene/butterfly-green-right.png', id: 'butterfly-green-right')
  = image_tag('background/garden-scene/butterfly-orange.png', id: 'butterfly-orange-left')
  = image_tag('background/garden-scene/folhas-behind-bushes-level2.png', id: 'folhas-behind-bushes-level2')
  = image_tag('background/garden-scene/folhas-middle.png', id: 'layer9')
  = image_tag('background/garden-scene/bushes-2nd-level.png', id: 'layer14')
  = image_tag('background/garden-scene/ball.png', id: 'ball')
  = image_tag('background/garden-scene/hand1.png', id: 'hand1')
  = image_tag('background/garden-scene/hand2.png', id: 'hand2')
  = image_tag('background/garden-scene/hand3.png', id: 'hand3')
  = image_tag('background/garden-scene/hand4.png', id: 'hand4')
  = image_tag('background/garden-scene/bushes-front-layer1.png', id: 'bushes-front-layer1')

:javascript
  let kilaText = document.getElementById('kila-text');
  let cloud1 = document.getElementById('cloud1');
  let cloud2 = document.getElementById('cloud2');
  let butterflyRedRight = document.getElementById('butterfly-red-right');
  let butterflyGreenRight = document.getElementById('butterfly-green-right');
  let welcomeText = document.getElementById('welcome-text');
  let catWalkToLeft = document.getElementById('cat-walk-to-left');
  let butterflyGreenLeft = document.getElementById('butterfly-green-left');
  let butterflyOrangeLeft = document.getElementById('butterfly-orange-left');
  let ball = document.getElementById('ball');
  let hand1 = document.getElementById('hand1');
  let hand2 = document.getElementById('hand2');
  let hand3 = document.getElementById('hand3');
  let hand4 = document.getElementById('hand4');

  window.addEventListener('scroll', function(){
    let value = window.scrollY;
    cloud1.style.left = value * 0.8 + 'px';
    cloud2.style.left = value * 0.4 + 'px';
    butterflyRedRight.style.left = value * 0.4 + 'px';
    butterflyGreenRight.style.top = value * -0.3 + 'px';
    catWalkToLeft.style.left = value * -0.5 + 'px';
    butterflyOrangeLeft.style.left = value * 0.2 + 'px';
    butterflyGreenLeft.style.transform = 'translate(' + value*0.2 + 'px,' + value*0.1 + 'px)';
    ball.style.left = value * 0.2 + 'px';
    hand1.style.top = value * -0.2 + 'px';
    hand2.style.top = value * -0.3 + 'px';
    hand3.style.top = value * -0.25 + 'px';
    hand4.style.top = value * -0.15 + 'px';
  })
