%section
  %h1#kila-text KiLa Hildegarten
  = image_tag('background/abstract/layer3.png', id: 'layer3')
  = image_tag('background/abstract/layer4.png', id: 'layer4')
  = image_tag('background/abstract/layer5.png', id: 'layer5')
  = image_tag('background/abstract/layer6.png', id: 'layer6')
  = image_tag('background/abstract/layer7.png', id: 'layer7')
  %h1#welcome-text Willkommen im
  = image_tag('background/abstract/layer8.png', id: 'layer8')
  = image_tag('background/abstract/layer9.png', id: 'layer9')
  = image_tag('background/abstract/rocket.png', id: 'rocket')
  = image_tag('background/abstract/layer10.png', id: 'layer10')
  = image_tag('background/abstract/layer11.png', id: 'layer11')
  = image_tag('background/abstract/layer12.png', id: 'layer12')
  = image_tag('background/abstract/layer13.png', id: 'layer13')
  = image_tag('background/abstract/layer14.png', id: 'layer14')
  = image_tag('background/abstract/stars.png', id: 'stars')
