%section
  = image_tag('background/garden-scene/background-sky.png', id: 'background-sky')
  = image_tag('background/garden-scene/cloud1.png', id: 'cloud1')
  = image_tag('background/garden-scene/cloud2.png', id: 'cloud2')
  %h1#welcome-text Willkommen im
  = image_tag('background/garden-scene/tree-right.png', id: 'tree-right')
  = image_tag('background/garden-scene/tree-left.png', id: 'tree-left')
  = image_tag('background/garden-scene/butterfly-red-right.png', id: 'butterfly-red-right')
  %h1#kila-text KiLa Hildegarten
  = image_tag('background/garden-scene/gras.png', id: 'gras')
  = image_tag('background/garden-scene/cat-walk-to-left.png', id: 'cat-walk-to-left')
  = image_tag('background/garden-scene/tree-stump.png', id: 'tree-stump')
  = image_tag('background/garden-scene/flowers-in-frond-tree-stump.png', id: 'flowers-in-frond-tree-stump')
  = image_tag('background/garden-scene/bushes-layer4.png', id: 'bushes-layer4')
  = image_tag('background/garden-scene/leafes-layer3.png', id: 'leafes-layer3')
  = image_tag('background/garden-scene/bushes-layer-3.png', id: 'bushes-layer-3')
  = image_tag('background/garden-scene/butterfly-green.png', id: 'butterfly-green-left')
  = image_tag('background/garden-scene/butterfly-green-right.png', id: 'butterfly-green-right')
  = image_tag('background/garden-scene/butterfly-orange.png', id: 'butterfly-orange-left')
  = image_tag('background/garden-scene/folhas-behind-bushes-level2.png', id: 'folhas-behind-bushes-level2')
  = image_tag('background/garden-scene/folhas-middle.png', id: 'layer9')
  = image_tag('background/garden-scene/bushes-2nd-level.png', id: 'layer14')
  = image_tag('background/garden-scene/ball.png', id: 'ball')
  = image_tag('background/garden-scene/hand1.png', id: 'hand1')
  = image_tag('background/garden-scene/hand2.png', id: 'hand2')
  = image_tag('background/garden-scene/hand3.png', id: 'hand3')
  = image_tag('background/garden-scene/hand4.png', id: 'hand4')
  = image_tag('background/garden-scene/bushes-front-layer1.png', id: 'bushes-front-layer1')
