%section.hero-animation
  .parallax
    #scene
      .layer{'data-depth': 0.1}
        = image_tag('background/abstract/layer1.png')
      .layer{'data-depth': 0.1}
        = image_tag('background/abstract/layer3.png')
      .layer{'data-depth': 0.2}
        = image_tag('background/abstract/stars.png')
      .layer{'data-depth': 0.3}
        = image_tag('background/abstract/layer4.png')
      .layer{'data-depth': 0.4}
        = image_tag('background/abstract/layer5.png')
      .layer{'data-depth': 0.4}
        = image_tag('background/abstract/layer6.png')
      .layer{'data-depth': 0.6}
        = image_tag('background/abstract/layer7.png')
      .layer{'data-depth': 0.6}
        = image_tag('background/abstract/layer8.png')
      .layer{'data-depth': 0.6}
        = image_tag('background/abstract/layer9.png')
      .layer{'data-depth': 0.5}
        = image_tag('background/abstract/layer12.png')
      .layer{'data-depth': 0.5}
        = image_tag('background/abstract/layer13.png')
      .layer{'data-depth': 0.7}
        %h1#welcome-text Willkommen im
      .layer{'data-depth': 0.75}
        = image_tag('background/abstract/rocket.png')
      .layer{'data-depth': 0.8}
        %h1#kila-text KiLa Hildegarten
      .layer{'data-depth': 0.9}
        = image_tag('background/abstract/layer10.png')
      .layer{'data-depth': 0.9}
        = image_tag('background/abstract/layer14.png')
