<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to 'Wir über uns', "#{root_path}#about_us_section" %></li>
    <li><%= link_to 'Tagesablauf', "#{root_path}#daily_life_section" %></li>
    <li><%= link_to 'Räume', "#{root_path}#rooms_section" %></li>
    <li><%= link_to 'Konzept', "#{root_path}#concept_section" %></li>
    <li><%= link_to 'Eingewöhnung', "#{root_path}#familarization_section" %></li>
  </ul>
  <nav>
    <div class="nav-wrapper container">
      <%= link_to root_path, class: "brand-logo" do %>
        <%= image_tag 'logo-kila-cut.png', id: 'brand-logo-image' %>
      <% end %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Kinderladen<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><%= link_to 'Team', team_path %></li>
        <li><%= link_to 'Eltern', parents_path %></li>
        <li><%= link_to 'Bilder', photos_path %></li>
        <li><%= link_to 'Kontakt', contact_path %></li>
        <li><span class="horizontal-space"></span></li>
        <% if admin_signed_in? %>
          <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_admin_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><%= link_to 'Kinderladen', root_path %></li>
    <li><%= link_to 'Team', root_path %></li>
    <li><%= link_to 'Eltern', parents_path %></li>
    <li><%= link_to 'Bilder', photos_path %></li>
    <li><%= link_to 'Kontakt', contact_path %></li>
    <li><span class="horizontal-space"></span></li>
    <% if admin_signed_in? %>
      <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to 'Login', new_admin_session_path %></li>
    <% end %>
  </ul>
</div>
