.row.valign-wrapper
  .col.s4
    - if signed_in?
      .card
        .card-panel.teal.white-text
          .card-content
            %span.card-title Bilder
            = "Nur die #{Image::MAX_IMAGES_ON_HOMEPAGE} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe
          .card-action
            = upload_image_helper('Home')
            = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'

    - @images.each do |image|
      = image_tag(image.picture.url, alt: 'kila picture', class: 'responsive-img')

  .col.s8
    = media_manipulation_helper(media: @main_content, section_name: 'Home')

    %h2 Neuigkeiten
    .row
      .card-panel.teal.white-text
        = media_manipulation_helper(media: @jobs, section_name: 'Stellenausschreibung')

    %h2 Freie Plätze
    .row
      .card-panel.teal.white-text
        = media_manipulation_helper(media: @kila_free_positions, section_name: 'Freie Plätze')


%h2#about_us_section
  Über uns

= media_manipulation_helper(media: @about_us, section_name: 'Über uns')

%h2#daily_life_section
  Tagesablauf

.row.valign-wrapper
  .col.s8
    = media_manipulation_helper(media: @daily_life_intro, section_name: 'Tagesablauf Einführung')
    = media_manipulation_helper(media: @daily_life, section_name: 'Tagesablauf')

  .col.s4
    - if signed_in?
      .card
        .card-panel.teal.white-text
          .card-content
            %span.card-title Bilder
            = "Nur die #{Image::MAX_IMAGES_ON_HOMEPAGE} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe
          .card-action
            = upload_image_helper('daily_life_image')
            = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'

    - @daily_life_images.each do |image|
      = image_tag(image.picture.url, alt: 'daily life pictures', class: 'responsive-img')
