.container.main-content
  .row.valign-wrapper
    .col.s4
      - if signed_in?
        .card
          .card-panel.teal.white-text
            .card-content
              %span.card-title Bilder
              = "Nur die #{Image::MAX_IMAGES_ON_HOMEPAGE} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe
            .card-action
              = upload_image_helper('home')
              = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'

      - @home_images.last(Image::MAX_IMAGES_ON_HOMEPAGE).each do |image|
        = image_tag(image.picture.url, alt: 'kila picture', class: 'responsive-img')

    .col.s8
      = media_manipulation_helper(media: @home, section_name: 'home')

      %h2 Neuigkeiten
      .row
        .card-panel.teal.white-text
          = media_manipulation_helper(media: @open_positions, section_name: 'open_positions')

      %h2 Freie Plätze
      .row
        .card-panel.teal.white-text
          = media_manipulation_helper(media: @kila_free_positions, section_name: 'kila_free_positions')

  .row
    .col.s12
      %h2#about_us_section
        Über uns
      = media_manipulation_helper(media: @about_us, section_name: 'about_us')

  .row
    .col.s12
      %h2#daily_life_section
        Tagesablauf
    .col.s8
      = media_manipulation_helper(media: @daily_life_intro, section_name: 'daily_life_intro')
      = media_manipulation_helper(media: @daily_life, section_name: 'daily_life')

    .col.s4
      - if signed_in?
        .card
          .card-panel.teal.white-text
            .card-content
              %span.card-title Bilder
              = "Nur die #{Image::MAX_IMAGES_ON_HOMEPAGE} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe
            .card-action
              = upload_image_helper('daily_life')
              = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'

      - @daily_life_images.last(Image::MAX_IMAGES_ON_HOMEPAGE).each do |image|
        = image_tag(image.picture.url, alt: 'daily life pictures', class: 'responsive-img')

  .row#rooms_section
    .col.s12
      %h2
        Räume
    .col.s12
      = media_manipulation_helper(media: @rooms, section_name: 'rooms')
    .col.s12
      .col.s4.no-padding
        - if signed_in?
          .card
            .card-panel.teal.white-text
              Bilder
              = upload_image_helper('rooms')
              = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'

      - @rooms_images.each do |image|
        = image_tag(image.picture.url, alt: 'kila rooms pictures', class: 'responsive-img')

  .row#concept_section
    .col.s12
      %h2
        Konzept
    .col.s12
      = media_manipulation_helper(media: @concept, section_name: 'concept')

  .row#familarization_section
    .col.s12
      %h2
        Eingewöhnung
    .col.s12
      = media_manipulation_helper(media: @familarization, section_name: 'familarization')
:javascript
  let kilaText = document.getElementById('kila-text');
  let cloud1 = document.getElementById('cloud1');
  let cloud2 = document.getElementById('cloud2');
  let butterflyRedRight = document.getElementById('butterfly-red-right');
  let butterflyGreenRight = document.getElementById('butterfly-green-right');
  let welcomeText = document.getElementById('welcome-text');
  let catWalkToLeft = document.getElementById('cat-walk-to-left');
  let butterflyGreenLeft = document.getElementById('butterfly-green-left');
  let butterflyOrangeLeft = document.getElementById('butterfly-orange-left');
  let ball = document.getElementById('ball');
  let hand1 = document.getElementById('hand1');
  let hand2 = document.getElementById('hand2');
  let hand3 = document.getElementById('hand3');
  let hand4 = document.getElementById('hand4');

  window.addEventListener('scroll', function(){
    let value = window.scrollY;
    cloud1.style.left = value * 0.8 + 'px';
    cloud2.style.left = value * 0.4 + 'px';
    butterflyRedRight.style.transform = 'translate(' + value*0.4 + 'px,' + -value*0.1 + 'px)';
    butterflyGreenRight.style.transform = 'translate(' + -value*0.4 + 'px,' + -value*0.1 + 'px)';
    catWalkToLeft.style.left = value * -0.5 + 'px';
    butterflyOrangeLeft.style.transform = 'translate(' + -value*0.1 + 'px,' + -value*0.2 + 'px)';
    butterflyGreenLeft.style.transform = 'translate(' + value*0.4 + 'px,' + -value*0.1 + 'px)';
    ball.style.left = value * 0.2 + 'px';
    hand1.style.transform = 'translateY(20vh)';
    hand2.style.transform = 'translateY(20vh)';
    hand3.style.transform = 'translateY(20vh)';
    hand4.style.transform = 'translateY(20vh)';
    hand1.style.top = value * -0.17 + 'px';
    hand2.style.top = value * -0.2 + 'px';
    hand3.style.top = value * -0.2 + 'px';
    hand4.style.top = value * -0.15 + 'px';
  })
