<div class="row valign-wrapper">
  <div class="col s4">
    <% if signed_in? %>
      <div class="card">
        <div class="card-panel teal white-text">
          <div class="card-content">
            <span class="card-title">Bilder</span>
            <%= "Nur die #{Image::MAX_IMAGES_ON_HOMEPAGE} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe %>
          </div>
          <div class="card-action">
            <%= upload_image_helper('Home') %>
            <%= link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red' %>
          </div>
        </div>
      </div>
    <% end %>
    <% @images.each do |image| %>
      <%= image_tag(image.picture.url, alt: 'kila picture', class: 'responsive-img') %>
    <% end %>
  </div>

  <div class="col s8">
    <%= media_manipulation_helper(media: @main_content, section_name: 'Home') %>

    <h2>Neuigkeiten</h2>
    <div class="row">
      <div class="card-panel teal white-text">
        <%= media_manipulation_helper(media: @jobs, section_name: 'Stellenausschreibung') %>
      </div>
    </div>

    <h2>Freie Plätze</h2>
    <div class="row">
      <div class="card-panel teal white-text">
        <%= media_manipulation_helper(media: @kila_free_positions, section_name: 'Freie Plätze') %>
      </div>
    </div>
  </div>
</div>
