= render 'shared/hero_parallax_background'

.row.container.main-content
  .col.s12.m8.l8
    = media_manipulation_helper(media: @home, section_name: 'home')
    %h2 Neuigkeiten
    .row
      .card-panel.teal.white-text
        = media_manipulation_helper(media: @open_positions, section_name: 'open_positions')
    %h2 Freie Plätze
    .row
      .card-panel.teal.white-text
        = media_manipulation_helper(media: @kila_free_positions, section_name: 'kila_free_positions')

  .col.s12.m4.l4.no-padding
    - if signed_in?
      .card
        .card-panel.teal.white-text
          .card-content
            %span.card-title Bilder
            = "Nur die #{Image::MAX_IMAGES_ON_HOMEPAGE} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe
          .card-action
            = upload_image_helper('home')
            = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'
    .home-page-images
      - @home_images.last(Image::MAX_IMAGES_ON_HOMEPAGE).each do |image|
        = image_tag(image.picture.url, alt: 'kila picture')

.row#about_us_section.container
  .col.s12.l8
    %h1 Über uns
    = media_manipulation_helper(media: @about_us, section_name: 'about_us')
  .col.s12.l4.wrapper
    .background-team
      #team-link= link_to 'Du möchtest mehr wissen?', team_path, class: 'btn waves-effect waves-light text-white'
      = image_tag('other_images/team_call_for_action_background.png')

#daily_life_section.section-background-color
  .row.container
    .col.s12
      %h1 Tagesablauf
    .col.s12.l12
      = media_manipulation_helper(media: @daily_life_intro, section_name: 'daily_life_intro')
    .col.s12.l12
      - if signed_in?
        .card
          .card-panel.teal.white-text
            .card-content
              %span.card-title Bilder
              = "Nur die #{Image::MAX_IMAGES_ON_DAILY_LIFE_SECTION} zuletzt hochgeladenen Bilder werden hier angezeigt.".html_safe
            .card-action
              = upload_image_helper('daily_life')
              = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'
      .daily-life-images-wrapper
        - @daily_life_images.last(Image::MAX_IMAGES_ON_DAILY_LIFE_SECTION).each do |image|
          = image_tag(image.picture.url, alt: 'daily life pictures', class: 'daily-life-example-image')
    .col.s12.s12
      = media_manipulation_helper(media: @daily_life, section_name: 'daily_life')

.row#rooms_section.container
  .col.s12
    %h1 Räume
  .col.s12
    = media_manipulation_helper(media: @rooms, section_name: 'rooms')
  .col.s12
    .col.s4.no-padding
      - if signed_in?
        .card
          .card-panel.teal.white-text
            Bilder
            = upload_image_helper('rooms')
            = link_to "<i class='material-icons'>edit</i>".html_safe, images_path, class: 'btn-floating waves-effect waves-light red'

    - @rooms_images.each do |image|
      = image_tag(image.picture.url, alt: 'kila rooms pictures', class: 'responsive-img')

#concept_section.section-background-color
  .row.container
    .col.s12
      %h1 Konzept
    .col.s12
      = media_manipulation_helper(media: @concept, section_name: 'concept')

.row#familarization_section.container
  .col.s12
    %h1 Eingewöhnung
  .col.s12
    = media_manipulation_helper(media: @familarization, section_name: 'familarization')
