<div class="row valign-wrapper">
  <div class="col s4">
    <% if signed_in? %>
      <p> <%= "Nur die letzten 2 hochgeladene Bilder werden hier angezeigt. Bilder können #{link_to('hier', images_path)} gelöscht werden.".html_safe %></p>
    <% end %>
    <% @images.each do |image| %>
      <%= image_tag(image.picture.url, alt: 'kila garden picture with children', class: 'responsive-img') %>
    <% end %>
    <%= image_tag 'home', alt: 'kila garden picture with children', class: 'responsive-img' %>
  </div>

  <div class="col s8">
    <%= show_content_actions(@main_content) %>
    <p><%= simple_format(@main_content&.content) %></p>

    <h2>Neuigkeiten</h2>
    <div class="row">
      <%= show_content_actions(@jobs) %>
      <div class="card-panel teal white-text"><%= simple_format(@jobs&.content) %></div>
    </div>

    <h2>Freie Plätze</h2>
    <div class="row">
      <%= show_content_actions(@kila_free_positions) %>
      <div class="card-panel teal white-text">
        <%= simple_format(@kila_free_positions&.content) %>
      </div>
    </div>
  </div>
</div>
