<div class="row valign-wrapper">
  <div class="col s4">
    <% if signed_in? %>
      <div class="card">
        <div class="card-panel teal white-text">
          <%= "Nur die 2 zuletzt hochgeladenen Bilder werden hier angezeigt. Bilder können #{link_to('hier', images_path(page: 'Home'), class: 'waves-effect waves-teal btn-flat red btn-small')} gelöscht werden.".html_safe %>
          <%= link_to "<i class='material-icons'>add</i>".html_safe, new_image_path, class: 'btn-floating halfway-fab waves-effect waves-light red' %>
        </div>
      </div>
    <% end %>
    <% @images.each do |image| %>
      <%= image_tag(image.picture.url, alt: 'kila picture', class: 'responsive-img') %>
    <% end %>
  </div>

  <div class="col s8">
    <%= show_content_actions(@main_content) %>
    <p><%= simple_format(@main_content&.content) %></p>

    <h2>Neuigkeiten</h2>
    <div class="row">
      <%= show_content_actions(@jobs) %>
      <div class="card-panel teal white-text"><%= simple_format(@jobs&.content) %></div>
    </div>

    <h2>Freie Plätze</h2>
    <div class="row">
      <%= show_content_actions(@kila_free_positions) %>
      <div class="card-panel teal white-text">
        <%= simple_format(@kila_free_positions&.content) %>
      </div>
    </div>
  </div>
</div>
