.container.main-content
  %h1
    Team
    - if signed_in?
      = link_to "<i class='material-icons'>add</i>".html_safe, new_team_member_path, class: 'btn-floating waves-effect waves-light red', title: 'Neues Teammitglied hinzufügen'

  - @team_members.each do |team_member|
    .row
      .col.s12.m2
        .card
          .card-image
            - if team_member.image
              = image_tag(team_member.image.picture.portait.url, alt: 'kila picture', class: 'responsive-img')
              = team_member_action_buttons(team_member)

      .col.s12.m10
        .card
          .card-content
            %span.card-title= team_member.name
            %p= team_member.content&.content
          = team_member_action_buttons(team_member)
