<div class='container main-content'>
  <div class="row">
    <% @images.each do |image| %>
      <div class="col s12 m6">
        <div class="card">
          <div class="card-image">
            <%= image_tag(image.picture.url, alt: 'kila hildegarden', class: '') if image.picture %>
            <span class="card-title"><%= image.name %></span>
            <%= link_to "<i class='material-icons'>delete</i>".html_safe, image_path(image), method: :delete, class: 'btn-floating halfway-fab waves-effect waves-light red', data: { confirm: 'Bist du sicher, dass du das Bild löschen möchtest?'} %>
          </div>
          <div class="card-content">
            <p>Webseite: <%= image.page %></p>
            <p>Erstellt: <%= image.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S') %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
