<%= form_for @image, :html => { multipart: true } do |f| %>
  <% if @image.errors.any? %>
    <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :picture %>
  <%= f.file_field :picture, accept: 'image/jpg, image/png image/gif' %>

  <%= f.label :page %>
  <%= f.select :page, Page::PAGE_TYPES %>

  <%= f.submit %>
<% end %>
