
<div class="row">
  <%= form_for @image, :html => { multipart: true }, class: 'col s12'  do |f| %>
    <div class="row">
      <h2 class="col s12">Neues Bild hochladen</h2>
      <div class="col s12">
        <% if @image.errors.any? %>
          <ul>
            <div class="card-panel orange">
              <% @image.errors.full_messages.each do |msg| %>
                <li><%= msg %> </li>
              <% end %>
            </div>
          </ul>
        <% end %>
      </div>

      <div class="input-field col s12">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="file-field input-field col s12">
        <div class="btn">
          <span>File</span>
          <%= f.file_field :picture %>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>

      <div class="input-field col s12">
        <%= f.hidden_field :page %>
      </div>

      <div class="col s12">
        <%= f.button 'Hochladen', class: "btn waves-effect waves-light" %>
      </div>
    </div>
  <% end %>
</div>
